<div class="row">
    <div class="col-8 right-container">
        <app-floating-card title="Employees" subtitle="Last Week" number="3K" [top]="17" [right]="78"></app-floating-card>
        <img src="../../assets/car.png" class="right-container-middle" alt="">
        <div class="right-container-circle"></div>
        <app-floating-card title="Projects" subtitle="Last Year" number="500K" [top]="33" [right]="33"></app-floating-card>
    </div>
    <div class="col-4 left-container">
        <img src="../../assets/AMIfv95TEAjzRZs49G4E4qmFLeaEZ2yq18WawKnH7cVYfQ-TPwN7UoHXMOGg77nQLTeJrfB8I7ngVzU-uwD4RVeOMtW0kC1VCr-Xltjy1-LUDDbWvz6fgzLklkxBddH6AB0nz8VmvRaQFtLkFz7h8esvxWB8Y6a90w=s512.png" alt="valeo-100 years" class="left-container-img">
        <h5>Welcome👋</h5>
        <h6>Please sign-in and start the <br> adventure</h6>
        <h6>Email</h6>
        <input type="text" placeholder="placeholder" class="left-container-input">
        <h6>Password</h6>
        <input type="text" placeholder="placeholder" class="left-container-input">
        <div class="left-container-additional">
            <div class="left-container-remember">
                <input type="checkbox" name="" id="">
                <p>Remember me</p>
            </div>
            <p class="left-container-forget">Forget Password?</p>
        </div>
        <button>Login</button>
    </div>
</div>