<div class="container">
    <div class="container-textarea">
        <p class="container-title">{{title}}</p>
        <p class="container-subtitle">{{subtitle}}</p>
    </div>
    <span class="container-separator"></span>
    <div class="container-stats">
        <div class="container-stats-number"><span class="container-stat">3.2k</span>
            <p>Lorem Ipsum</p>
        </div>
        <div class="container-stats-number"><span class="container-stat">3.2k</span>
            <p>Lorem Ipsum</p>
        </div>
        <div class="container-stats-number"><span class="container-stat">3.2k</span>
            <p>Lorem Ipsum</p>
        </div>

        <img [src]="src" alt="container img" class="container-img">
    </div>
</div>