<div class="container">
    <div class="container-textarea">
        <div class="container-title">
            {{todo.title}}
        </div>
        <div class="container-subtitle">
            {{todo.subtitle}}
        </div>
    </div>
    <div class="container-description">
        {{todo.description}}
    </div>
    <div class="container-number">
        {{todo.weight}}
    </div>
    <div class="container-actions">
        <img src="../../assets/accept.svg" alt="accept">
        <img src="../../assets/decline.svg" alt="decline">
    </div>
</div>
