<div>
    <div class="row">
      <div class="col-lg-6 mt-2 mb-2">
  
        <app-two-slot-card
        subtitle="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout"
        title="Website Analytics"
        src="/assets/ball.png"
        ></app-two-slot-card>
      </div>
      <div class="col-lg-3 mt-2 mb-2">
  
        <app-one-slot-card src="/assets/headphones.png"
        subtitle="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout"
        title="Classical music" [showBall]="true"></app-one-slot-card>
      </div>
      <div class="col-lg-3 mt-2 mb-2">
        <app-one-slot-card src="/assets/chess.png"
          subtitle="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout"
          title="Classical music"
          [showBall]="false">
        </app-one-slot-card>
      </div>
    </div>
    <div class="row">
      <app-todo-list></app-todo-list>
    </div>
  </div>